@charset "utf-8";
* {
margin:0px;
padding: 0px;
}
header{
background: red;
margin-top: 0px;
}


section {
float: left;
width: 100px;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
text-align: center;

}

label{

  display: block;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;

}

.selection{ 
  display: block;
  height: 30px;
  border:0px;
  outline: 0px;
color:#030F87;
font-size: 16px;
margin-left: 30%;
  width: 300px;
}

input [type="submit"]{
  align-items:center;
}


/*aside*/
.content-Profile{
margin-top: 10px;
float: left;
width: 280px;
height: 410px;
background: orange;
}

.content-Ranking{
margin-top: 10px;
float: right;
width: 280px;
height: 410px;
background: orange;
}

.container-image{
  padding-top: 20px; 
}

.container-important{
   margin: 0px;
  background: red;
  width:760px;
  height:500px;
}

 footer{
  margin-top: 480px;
 }
  
@media screen and (max-width: 1200px){
    
    .contenedor-body{
        flex-wrap: wrap;
    }
    
    .columna1{
        max-width: 100%;
    }
    
    .columna3,
    .columna4{
        margin-top: 40px;
    }
              /*Responsive*/
  .container-Ranking{

    display: none;

  }

  .container-Profile{
    display: none;
  }

  .container-important{
    display: block;
  }

  .container-form{

    float: left;

    margin: auto;

    width: 100%;

    background: red;
  }

}