*{

	margin:0;

	padding: 0;

	box-sizing: border-box;

	text-decoration: none;

}





.contenedor-total{

	width: 100%;

	max-width: 1000px;

	margin:auto;

	margin-top: 20px;

	display: flex;

}



.contenedor-formulario{

	width: 80%;

	height: 620px;

	padding: 40px;

	background: #f7f7f7;

}



.logo{

	width: 350px;

	height: 80px;

	display: block;

	margin: auto;

}



.titulo{

	text-align:center;

	margin-top: 20px;

	font-weight: 300;

	color:#7a7a7a;

}



label{

	display: block;

	margin-top: 30px;

	font-size: 20px;

	font-weight: 300;

	color:#7a7a7a;

}



input[type="text"],

input[type="password"]{

width: 100%;

height: 30px;

background: rgba(0,0,0,0);

border:0px;

outline: 0px;

border-bottom: 1px solid rgba(0,0,0,0.12);

color:#030F87;

font-size: 16px;

}



input[type="submit"]{

	width: 100%;

	height: 50px;

	margin-top: 60px;

	color: white;

	border:0px; 

	background: linear-gradient(90deg, #ff8000,#E30F87);

	padding:20px;

	font-weight: 300;

	cursor: pointer;

	font-size: 18px;
 


}



input[type="submit"]:hover{

	background: linear-gradient(90deg,#E30F87, #BF4222);

	

}



.texto-footer{

	display: block;

	margin-top: 100px;

	text-align: center;

	color:#7a7a7a;

	font-weight: 300;

}



.texto-footer a{

	color:#029EE1;

	font-weight: 500;



}



/*contenedor derecho*/

.contenedor-texto{

	width: 100%;

	background-image: url(../image/fonodoInicio.jpg);

	background-position: center;

	background-size: cover;

	padding: 40px;

	position: relative;

}



.capa{

	width: 100%;

	height: 100%;

	position: absolute;

	top:0;

	left: 0;

	background: linear-gradient(90deg, #2A3132,#E30F87);

	padding:20px;

	opacity: 0.8;

}



.detalles-titulo{

	position: relative;

	top:80px;

	color: white;

	font-weight: 300;

	font-size: 40px;

}

.detalles-texto{

	position: relative;

	top:110px;

	color: white;

	font-weight: 200;

	font-size: 18px;

}





/*Responsive*/



@media screen  and (max-width: 800px){

	.contenedor-texto{

		display: none;

	}



	.contenedor-formulario{

		margin: auto;

		width: 100%;

		background: white;



	}

}